Source: allpathslg-40480
Section: science
Priority: optional
Build-Depends: debhelper (>= 7)
Maintainer: The Genome Institute <gmt@genome.wustl.edu>
Homepage: http://www.broadinstitute.org/software/allpaths-lg/blog/

Package: allpathslg-40480
Architecture: amd64
Depends: graphviz
Description: ALLPATHS-LG is a de bruijn graph assembler for large genomes. 
