#!/usr/bin/make -f

PKG=$(shell dh_listpackages)
VERSION=40480
EXECUTABLES="PrepareAllPathsInputs.pl RunAllPathsLG"

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	mkdir -p ./debian/$(PKG)/usr/lib
	mv ./debian/$(PKG)/usr/bin ./debian/$(PKG)/usr/lib/$(PKG)
	mkdir -p ./debian/$(PKG)/usr/bin/
	for e in $(EXECUTABLES); do \
	  cat ./genome_wrappers/wrapper | sed 's/VERSION/$(VERSION)/g' | sed 's/PROGRAM_NAME/$(e)/g' >  ./debian/$(PKG)/usr/bin/$(e)-$(VERSION); \
	done
