#!/usr/bin/make -f

PKG=$(shell dh_listpackages)
VERSION=40480

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	mkdir -p ./debian/$(PKG)/usr/lib
	mv ./debian/$(PKG)/usr/bin ./debian/$(PKG)/usr/lib/$(PKG)
	mkdir -p ./debian/$(PKG)/usr/bin/
	for FILE in genome-wrappers/*; do \
	  cat $$FILE | sed 's/VERSION/$(VERSION)/g' >  ./debian/$(PKG)/usr/bin/`basename $$FILE`-$(VERSION); \
	done
